<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @wizard.name %>
</p>

<p>
  <strong>Color:</strong>
  <%= @wizard.color %>
</p>

<p>
  <strong>Height:</strong>
  <%= @wizard.height %>
</p>

<p>
  <strong>Is good:</strong>
  <%= @wizard.is_good %>
</p>

<%= link_to 'Edit', edit_wizard_path(@wizard) %> |
<%= link_to 'Back', wizards_path %>
